#board {
    height: 100vh;
    width: 100vw;
    background-color: rgb(12, 45, 12);
    display: flex;
}

#left-board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 15%;
    height: 100%;
    border-right: .75em solid rgb(1, 58, 1) 
}

#center-board {
    width: 70%;
    height: 100%;
}

#right-board {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    width: 15%;
    height: 100%;
    border-left: .75em solid rgb(1, 58, 1) 

}

#center-top {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: .75em solid rgb(1, 58, 1) 

}

#center-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
}

#center-center span {
    font-size: 2em;
}

#center-center > div {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#center-bottom {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: .75em solid rgb(1, 58, 1);
}

.card {
    width: 6em;
    height: 9em;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.buttons, .eButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: .5em;
}

.buttons button, .eButtons button {
    border-radius: 100%;
    border: none;
    background-color: rgb(0, 79, 0);
    color:rgb(158, 189, 0);
}

.buttons button:hover {
    color: rgb(0, 91, 0);
    background-color:rgb(158, 189, 0);
    cursor: pointer;
}

.card-spot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#battle-btn {
    background-color: rgb(255, 0, 0);
    color: black;
    width: 100%
}

#battle-btn.active:hover {
    cursor: pointer;
    background-color: rgb(158, 189, 0);
}

.active {
    opacity: 1;
    cursor: pointer;
}

.inactive {
    opacity: .5;
    cursor: auto;
}

button.red {
    background-color: rgb(181, 0, 0);
}

.score {
    border: 5px solid rgb(15, 22, 14);
    width: 90%;
}

.score div {
    padding: .1em;
    border-bottom: 5px solid rgb(15, 22, 14);
    background-color: rgb(45, 23, 0);
    color: rgb(175, 167, 2)
}

.score div:last-child {
    padding: .1em;
    border-bottom: none;
}

.score div span {
    font-size: 1.5em;
}

div.counter {
    background-color: white;
    text-align: center;
    color: black
}